@font-face {
    font-family: 'Kalpurush';
    src: url('../fonts/Kalpurush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('../images/bg.jpg');
}

.sc_box {
    box-shadow: 0px 1px 8px #ABA1A1;
    -webkit-box-shadow: 0px 1px 8px #ABA1A1;
    -moz-box-shadow: 0px 1px 8px #ABA1A1;
    border-radius: 0px;
    border-color: #ABA1A1;
    background-color: #eee6f3;
    color: #7030a0;
    text-decoration: none;
}

.error {
    color: red;
}

.log-in-form {
    width: 100%;
    padding: 50px 30px;
    background-color: #eae6e7;
    border-radius: 5px;
}

.sc_main_container {
    background-image: url(../images/main_1_bg.jpg);
    background-repeat: repeat;
}

.single_search {
    border: 1px solid green;
    padding: 15px 0 5px 0;
    margin: 15px 0;
    font-size: 13px;
}

.single_search img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-right: 10px;
}

.secondary_sc_content {
    background-color: #ffffff;
    box-shadow: 0px 1px 8px #877F7F;
    -webkit-box-shadow: 0px 1px 8px #877F7F;
    -moz-box-shadow: 0px 1px 8px #877F7F;
}

.list-group-item {
    background-color: #ddf0da;
    box-shadow: 0px 4px 0px #bde0bf;
    -webkit-box-shadow: 0px 4px 0px #bde0bf;
    -moz-box-shadow: 0px 4px 0px #bde0bf;
    border: 1px solid #bde0bf;
    border-radius: none;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.list-group-item:first-child {
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
}

.text-color {
    color: #7030a0;
}

.list-group-item.active {
    background-color: #904097;
    border-color: #904097;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .info_box {
        border-bottom: 1px solid #ffffff;
    }
}


/*new css*/


/*sc_header*/

.sc_header {
    background-color: #a35bb6;
    border-bottom: 1px solid #eb1403;
}

.input-group {
    width: 90%;
    height: 32px;
    padding-left: 40px !important;
}

.shape {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 80px;
    border-right-width: 0px;
    border-top: 72px solid #5bb95c;
}

.ml-5 {
    margin-left: 7rem!important;
}


/*footer*/

.fa-ul {
    padding-left: 0px;
    margin-left: 0px !important;
    list-style-type: none;
}

.footer {
    width: 100%;
    background: #f7f7f7;
    border-top: 5px solid #1aa326;
    padding-top: 10px;
    color: #7030a0;
    font-size: 14px;
}

.footer a {
    color: #7030a0;
}

.footer h4 {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 5px;
}

.footer .list-inline li a {
    color: #7030a0;
    padding: 0 30px;
}

.footer-bottom {
    width: 100%;
    height: 3px;
    background-color: #1aa326;
}

.footer .col-md-3 {
    border: none;
}

.footer .logo_a2i img {
    width: 50% !important;
    position: absolute;
    right: 0px;
    bottom: -5px;
}

.footer .logo_bd img {
    width: 50%;
    padding-top: 28px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 5px;
    display: none;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 6px 11px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
}

.btn-primary {
    background-color: #7030a0;
    border-color: #7030a0;
}


/*end of footer*/


/* top-social-icon*/

.text-color-fb {
    color: #3b5998 !important;
}

.text-color-twitter {
    color: #55acee !important;
}

.text-color-youbube {
    color: #f61c0d !important;
}

.text-color-google-plus {
    color: #dc4e41 !important;
}

.text-info {
    color: #3b5998 !important;
}

.text-info {
    color: #3b5998 !important;
}


/*end of new css*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
    img {
        display: block;
        margin: auto;
        padding-bottom: 15px;
    }
    .shape {
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: none;
        border-right-width: none;
        border-top: none;
    }
    .input-group {
        width: 70%;
        height: 32px;
        padding-left: 0px !important;
        padding-right: 20px !important;
    }
    td a.text-primary {
        color: #000 !important;
    }
    .pull-right {
        float: none;
        /*display: none!important;*/
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .px-3 {
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 18px;
    }
    a.btn.text-white.btn-block {
        font-size: 10px;
    }
    select.sc_district_val2.form-control.input-sm {
        font-size: 10px;
        height: 100%;
    }
    select#region2 {
        height: 100%;
        font-size: 10px;
    }
    button.btn.text-white.btn-block {
        font-size: 10px;
    }
    span.h3 {
        font-size: 18px;
    }
    .w-75 {
        width: 100%!important;
    }
    form#infovalidation {
        width: 100%;
    }
    .container {
        padding-right: 2px;
        padding-left: 2px;
    }
    .col-xl-3.col-lg-3.col-md-12.col-sm-12.col-xs-12 {
        margin-top: 20px;
    }
    /*input#scoutID{
      width: 94%;
      margin-left: 10px!important;
  }*/
}

.card-body {
    padding: 10px;
}

.news_notice {
    padding: 10px 0px 10px 10px;
    border: 0px solid red;
    overflow: hidden;
}

.home {
    float: left;
    margin-right: 10px;
    /*border:1px solid #ccc;*/
    /*width: 80px;*/
}


/*.home .form-group{margin-bottom: 0;}*/

.news_item {
    float: left;
    width: 73%;
    margin-right: 10px;
    /*border:1px solid #ccc;*/
}

.all_news_btn {
    float: right;
    margin-bottom: 0;
    border: 1px solid #ccc;
}

.nav-tabs {
    font-weight: bold;
    background-color: #c2e1c0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    border-color: #b1b0b0 #b1b0b0 #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #464a4c;
    background-color: #fff;
    border-color: #6b6969 #747070 #fff;
}

.tab_heading {
    font-weight: bold;
    margin: 10px auto;
}


/* custom */

.subs_div {
    margin-top: 8vh;
    padding: 30px;
    border: 1px solid #8f8d8d75;
    background: #fff;
    box-shadow: 10px 10px 20px #5a020225;
}




.image-input.image-input-outline .image-input-wrapper {
    border: 3px solid #fff;
    -webkit-box-shadow: 0 .5rem 1.5rem .5rem rgba(0, 0, 0, .075);
    box-shadow: 0 .5rem 1.5rem .5rem rgba(0, 0, 0, .075)
}

.label {
    padding: 0;
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: .8rem;
    background-color: #ebedf3;
    color: #000;
    font-weight: 400;
    height: 20px;
    width: 20px;
    font-size: .8rem
}

.label.label-primary {
    color: #fff;
    background-color: #3699ff
}

.label.label-outline-primary {
    background-color: transparent;
    color: #3699ff;
    border: 1px solid #3699ff
}

.label.label-outline-primary.label-outline-2x {
    border: 2px solid #3699ff
}

.label.label-light-primary {
    color: #3699ff;
    background-color: #e1f0ff
}

.label.label-secondary {
    color: #000;
    background-color: #e4e6ef
}

.label.label-outline-secondary {
    background-color: transparent;
    color: #000;
    border: 1px solid #e4e6ef
}

.label.label-outline-secondary.label-outline-2x {
    border: 2px solid #e4e6ef
}

.label.label-light-secondary {
    color: #e4e6ef;
    background-color: #ebedf3
}

.label.label-success {
    color: #fff;
    background-color: #1bc5bd
}

.label.label-outline-success {
    background-color: transparent;
    color: #1bc5bd;
    border: 1px solid #1bc5bd
}

.label.label-outline-success.label-outline-2x {
    border: 2px solid #1bc5bd
}

.label.label-light-success {
    color: #1bc5bd;
    background-color: #c9f7f5
}

.label.label-info {
    color: #fff;
    background-color: #8950fc
}

.label.label-outline-info {
    background-color: transparent;
    color: #8950fc;
    border: 1px solid #8950fc
}

.label.label-outline-info.label-outline-2x {
    border: 2px solid #8950fc
}

.label.label-light-info {
    color: #8950fc;
    background-color: #eee5ff
}

.label.label-warning {
    color: #fff;
    background-color: #ffa800
}

.label.label-outline-warning {
    background-color: transparent;
    color: #ffa800;
    border: 1px solid #ffa800
}

.label.label-outline-warning.label-outline-2x {
    border: 2px solid #ffa800
}

.label.label-light-warning {
    color: #ffa800;
    background-color: #fff4de
}

.label.label-danger {
    color: #fff;
    background-color: #f64e60
}

.label.label-outline-danger {
    background-color: transparent;
    color: #f64e60;
    border: 1px solid #f64e60
}

.label.label-outline-danger.label-outline-2x {
    border: 2px solid #f64e60
}

.label.label-light-danger {
    color: #f64e60;
    background-color: #ffe2e5
}

.label.label-light {
    color: #7e8299;
    background-color: #f3f6f9
}

.label.label-outline-light {
    background-color: transparent;
    color: #000;
    border: 1px solid #f3f6f9
}

.label.label-outline-light.label-outline-2x {
    border: 2px solid #f3f6f9
}

.label.label-light-light {
    color: #f3f6f9;
    background-color: #f3f6f9
}

.label.label-dark {
    color: #fff;
    background-color: #000
}

.label.label-outline-dark {
    background-color: transparent;
    color: #000;
    border: 1px solid #000
}

.label.label-outline-dark.label-outline-2x {
    border: 2px solid #000
}

.label.label-light-dark {
    color: #000;
    background-color: #d1d3e0
}

.label.label-white {
    color: #000;
    background-color: #fff
}

.label.label-outline-white {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff
}

.label.label-outline-white.label-outline-2x {
    border: 2px solid #fff
}

.label.label-light-white {
    color: #fff;
    background-color: #fff
}

.label.label-inline {
    width: auto;
    padding: .15rem .75rem;
    border-radius: .42rem
}

.label.label-inline.label-md {
    padding: .8rem .6rem
}

.label.label-inline.label-lg {
    padding: .9rem .75rem
}

.label.label-inline.label-xl {
    padding: 1rem .85rem
}

.label.label-pill {
    border-radius: none
}

.label.label-rounded {
    border-radius: .42rem
}

.label.label-square {
    border-radius: 0
}

.label.label-dot {
    display: inline-block;
    font-size: 0!important;
    vertical-align: middle;
    text-align: center
}

.label.label-inline {
    width: auto
}

.label.label-dot {
    line-height: 6px;
    min-height: 6px;
    min-width: 6px;
    height: 6px;
    width: 6px
}

.label.label-sm {
    height: 16px;
    width: 16px;
    font-size: .75rem
}

.label.label-sm.label-inline {
    width: auto
}

.label.label-sm.label-dot {
    line-height: 4px;
    min-height: 4px;
    min-width: 4px;
    height: 4px;
    width: 4px
}

.label.label-lg {
    height: 24px;
    width: 24px;
    font-size: .9rem
}

.label.label-lg.label-inline {
    width: auto
}

.label.label-lg.label-dot {
    line-height: 8px;
    min-height: 8px;
    min-width: 8px;
    height: 8px;
    width: 8px
}

.label.label-xl {
    height: 28px;
    width: 28px;
    font-size: 1rem
}

.label.label-xl.label-inline {
    width: auto
}

.label.label-xl.label-dot {
    line-height: 10px;
    min-height: 10px;
    min-width: 10px;
    height: 10px;
    width: 10px
}


.image-input {
    position: relative;
    display: inline-block;
    border-radius: .42rem;
    background-repeat: no-repeat;
    background-size: cover
}

.image-input .image-input-wrapper {
    width: 120px;
    height: 120px;
    border-radius: .42rem;
    background-repeat: no-repeat;
    background-size: cover
}

.image-input [data-action=change] {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px
}

.image-input [data-action=change] input {
    width: 0!important;
    height: 0!important;
    overflow: hidden;
    opacity: 0
}

.image-input [data-action=cancel],
.image-input [data-action=remove] {
    position: absolute;
    right: -10px;
    bottom: -5px
}

.image-input [data-action=cancel] {
    display: none
}

.image-input.image-input-changed [data-action=cancel] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.image-input.image-input-changed [data-action=remove] {
    display: none
}

.image-input.image-input-empty [data-action=cancel],
.image-input.image-input-empty [data-action=remove] {
    display: none
}

.image-input.image-input-circle {
    border-radius: 50%
}

.image-input.image-input-circle .image-input-wrapper {
    border-radius: 50%
}

.image-input.image-input-circle [data-action=change] {
    right: 5px;
    top: 5px
}

.image-input.image-input-circle [data-action=cancel],
.image-input.image-input-circle [data-action=remove] {
    right: 5px;
    bottom: 5px
}











